.text-center
    text-align: center

body
    font-family: 'Khula', sans-serif

.select-title
    display: block

.results
    list-style-type: none
    width: 100%
    padding-left: unset
    padding: 15px
    background-image: linear-gradient(-90deg, gray, white)

    li
        display: inline-block
        padding-left: 12%

.dial-container
    width: 100%
    margin-bottom: 5rem

.chord-selector
    display: block
    clear: both

.chord-container
    border: 1px solid #e6e6e6
    border-radius: 10%
    padding: 10px
