@mixin on-circle($item-count, $circle-size, $item-size) {
    position: relative;
    width:  $circle-size;
    height: $circle-size;
    padding: 0;
    border-radius: 50%; 
    list-style: none;       
    
    > * {
      display: block;
      position: absolute;
      top:  50%; 
      left: 50%;
      width:  $item-size;
      height: $item-size;
      margin: -($item-size / 2);
    
      $angle: (360 / $item-count);
      $rot: 0;
  
      @for $i from 1 through $item-count {
        &:nth-of-type(#{$i}) {
          transform: 
            rotate($rot * 1deg) 
            translate( ($circle-size + 4) /2) 
            rotate($rot * -1deg);
        }
  
        $rot: $rot + $angle;
      }
    }
  }




  //scss

  .circle-container {
    @include on-circle($item-count: 12, $circle-size: 15em, $item-size: 1.2em); 
    margin: 8em auto 0;
    // background-image: url('assets/dial.png');
    // background-image: linear-gradient(90deg, purple, pink);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    
    img { 
      display: block; 
      max-width: 100%; 
      border-radius: 50%;
      filter: grayscale(100%);
      border: solid 5px tomato;
      transition: .15s;
      
      &:hover,
      &:active {
        filter: grayscale(0);
      }
    }
  }